journal.txt
*.vim
myoasswords.csv
*.tmp
*.db
.local/xdg_data_home/todo.txt 
.vim/.netrwhist 
/irok/
.local/xdg_data_home/databases/
.ssh/
.local/xdg_data_home/databases/history*
.local/xdg_data_home/history*
.local/xdg_data_home/menus/
.local/xdg_data_home/todo.txt
